## Dataframe des images

In [57]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/basophil'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        with Image.open(chemin_image) as img:
            largeur, hauteur = img.size
            exif_data = img._getexif()
            if exif_data is not None:
                date_creation = exif_data.get(306)  # Exemple : date de création de l'image
            else:
                date_creation = None
            donnees_images.append({
                'Nom fichier': nom_fichier,
                'Largeur': largeur,
                'Hauteur': hauteur,
                'Date création': date_creation,
                # Ajoutez d'autres métadonnées que vous souhaitez extraire
            })

# Créer la DataFrame pandas à partir des métadonnées des images
df_ba = pd.DataFrame(donnees_images)

# Afficher la DataFrame
df_ba

        Nom fichier  Largeur  Hauteur Date création
0     BA_689200.jpg      360      363          None
1     BA_883452.jpg      360      363          None
2     BA_382161.jpg      366      369          None
3     BA_175579.jpg      360      363          None
4     BA_775722.jpg      360      363          None
...             ...      ...      ...           ...
1213   BA_38810.jpg      360      363          None
1214   BA_10622.jpg      360      363          None
1215  BA_768965.jpg      360      363          None
1216  BA_832900.jpg      360      363          None
1217  BA_214867.jpg      360      363          None

[1218 rows x 4 columns]

In [34]:
df_ba = df_ba.assign(Nom_du_globule='Basophyl')
df_ba

        Nom fichier  Largeur  Hauteur Date création Nom_du_globule
0     BA_689200.jpg      360      363          None       Basophyl
1     BA_883452.jpg      360      363          None       Basophyl
2     BA_382161.jpg      366      369          None       Basophyl
3     BA_175579.jpg      360      363          None       Basophyl
4     BA_775722.jpg      360      363          None       Basophyl
...             ...      ...      ...           ...            ...
1213   BA_38810.jpg      360      363          None       Basophyl
1214   BA_10622.jpg      360      363          None       Basophyl
1215  BA_768965.jpg      360      363          None       Basophyl
1216  BA_832900.jpg      360      363          None       Basophyl
1217  BA_214867.jpg      360      363          None       Basophyl

[1218 rows x 5 columns]

In [35]:
df_ba = df_ba.drop(columns=['Date création'])
df_ba

        Nom fichier  Largeur  Hauteur Nom_du_globule
0     BA_689200.jpg      360      363       Basophyl
1     BA_883452.jpg      360      363       Basophyl
2     BA_382161.jpg      366      369       Basophyl
3     BA_175579.jpg      360      363       Basophyl
4     BA_775722.jpg      360      363       Basophyl
...             ...      ...      ...            ...
1213   BA_38810.jpg      360      363       Basophyl
1214   BA_10622.jpg      360      363       Basophyl
1215  BA_768965.jpg      360      363       Basophyl
1216  BA_832900.jpg      360      363       Basophyl
1217  BA_214867.jpg      360      363       Basophyl

[1218 rows x 4 columns]

In [37]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/eosinophil'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        with Image.open(chemin_image) as img:
            largeur, hauteur = img.size
            exif_data = img._getexif()
            if exif_data is not None:
                date_creation = exif_data.get(306)  # Exemple : date de création de l'image
            else:
                date_creation = None
            donnees_images.append({
                'Nom fichier': nom_fichier,
                'Largeur': largeur,
                'Hauteur': hauteur,
                'Date création': date_creation,
                # Ajoutez d'autres métadonnées que vous souhaitez extraire
            })

# Créer la DataFrame pandas à partir des métadonnées des images
df_eos = pd.DataFrame(donnees_images)

# Afficher la DataFrame
df_eos

        Nom fichier  Largeur  Hauteur Date création
0     EO_430628.jpg      360      363          None
1     EO_925874.jpg      360      363          None
2     EO_238985.jpg      360      363          None
3     EO_951139.jpg      360      363          None
4     EO_880204.jpg      360      363          None
...             ...      ...      ...           ...
3112  EO_993513.jpg      360      363          None
3113   EO_99718.jpg      360      363          None
3114  EO_487689.jpg      360      363          None
3115  EO_697422.jpg      360      363          None
3116  EO_478891.jpg      360      363          None

[3117 rows x 4 columns]

In [38]:
df_eos = df_eos.assign(Nom_du_globule='Eosinophil')
df_eos

        Nom fichier  Largeur  Hauteur Date création Nom_du_globule
0     EO_430628.jpg      360      363          None     Eosinophil
1     EO_925874.jpg      360      363          None     Eosinophil
2     EO_238985.jpg      360      363          None     Eosinophil
3     EO_951139.jpg      360      363          None     Eosinophil
4     EO_880204.jpg      360      363          None     Eosinophil
...             ...      ...      ...           ...            ...
3112  EO_993513.jpg      360      363          None     Eosinophil
3113   EO_99718.jpg      360      363          None     Eosinophil
3114  EO_487689.jpg      360      363          None     Eosinophil
3115  EO_697422.jpg      360      363          None     Eosinophil
3116  EO_478891.jpg      360      363          None     Eosinophil

[3117 rows x 5 columns]

In [39]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/erythroblast'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        with Image.open(chemin_image) as img:
            largeur, hauteur = img.size
            exif_data = img._getexif()
            if exif_data is not None:
                date_creation = exif_data.get(306)  # Exemple : date de création de l'image
            else:
                date_creation = None
            donnees_images.append({
                'Nom fichier': nom_fichier,
                'Largeur': largeur,
                'Hauteur': hauteur,
                'Date création': date_creation,
                # Ajoutez d'autres métadonnées que vous souhaitez extraire
            })

# Créer la DataFrame pandas à partir des métadonnées des images
df_ery = pd.DataFrame(donnees_images)

df_ery = df_eos.assign(Nom_du_globule='Erythroblast')
df_ery

        Nom fichier  Largeur  Hauteur Date création Nom_du_globule
0     EO_430628.jpg      360      363          None   Erythroblast
1     EO_925874.jpg      360      363          None   Erythroblast
2     EO_238985.jpg      360      363          None   Erythroblast
3     EO_951139.jpg      360      363          None   Erythroblast
4     EO_880204.jpg      360      363          None   Erythroblast
...             ...      ...      ...           ...            ...
3112  EO_993513.jpg      360      363          None   Erythroblast
3113   EO_99718.jpg      360      363          None   Erythroblast
3114  EO_487689.jpg      360      363          None   Erythroblast
3115  EO_697422.jpg      360      363          None   Erythroblast
3116  EO_478891.jpg      360      363          None   Erythroblast

[3117 rows x 5 columns]

In [40]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/ig'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        with Image.open(chemin_image) as img:
            largeur, hauteur = img.size
            exif_data = img._getexif()
            if exif_data is not None:
                date_creation = exif_data.get(306)  # Exemple : date de création de l'image
            else:
                date_creation = None
            donnees_images.append({
                'Nom fichier': nom_fichier,
                'Largeur': largeur,
                'Hauteur': hauteur,
                'Date création': date_creation,
                # Ajoutez d'autres métadonnées que vous souhaitez extraire
            })

# Créer la DataFrame pandas à partir des métadonnées des images
df_ig = pd.DataFrame(donnees_images)
df_ig = df_ig.drop(columns=['Date création'])
df_ig = df_ig.assign(Nom_du_globule='Ig')
df_ig

         Nom fichier  Largeur  Hauteur Nom_du_globule
0      MY_818396.jpg      360      363             Ig
1      MY_598679.jpg      360      363             Ig
2      MY_744972.jpg      360      363             Ig
3     PMY_725335.jpg      360      363             Ig
4       MMY_3376.jpg      360      363             Ig
...              ...      ...      ...            ...
2890    MY_51557.jpg      360      363             Ig
2891  MMY_388876.jpg      360      363             Ig
2892  MMY_236632.jpg      360      363             Ig
2893    MY_11615.jpg      360      363             Ig
2894  MMY_901894.jpg      360      363             Ig

[2895 rows x 4 columns]

In [41]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/lymphocyte'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        with Image.open(chemin_image) as img:
            largeur, hauteur = img.size
            exif_data = img._getexif()
            if exif_data is not None:
                date_creation = exif_data.get(306)  # Exemple : date de création de l'image
            else:
                date_creation = None
            donnees_images.append({
                'Nom fichier': nom_fichier,
                'Largeur': largeur,
                'Hauteur': hauteur,
                'Date création': date_creation,
                # Ajoutez d'autres métadonnées que vous souhaitez extraire
            })

# Créer la DataFrame pandas à partir des métadonnées des images
df_lymph = pd.DataFrame(donnees_images)
df_lymph = df_lymph.drop(columns=['Date création'])
df_lymph = df_lymph.assign(Nom_du_globule='Lymphocyte')
df_lymph

        Nom fichier  Largeur  Hauteur Nom_du_globule
0     LY_548542.jpg      360      363     Lymphocyte
1     LY_135776.jpg      360      363     Lymphocyte
2     LY_825441.jpg      360      363     Lymphocyte
3     LY_837051.jpg      360      363     Lymphocyte
4     LY_649814.jpg      360      363     Lymphocyte
...             ...      ...      ...            ...
1209  LY_192261.jpg      360      363     Lymphocyte
1210   LY_29912.jpg      360      363     Lymphocyte
1211  LY_820246.jpg      360      363     Lymphocyte
1212  LY_185090.jpg      360      363     Lymphocyte
1213  LY_136500.jpg      360      363     Lymphocyte

[1214 rows x 4 columns]

In [42]:
from PIL import Image
import os
import pandas as pd
# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/monocyte'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        with Image.open(chemin_image) as img:
            largeur, hauteur = img.size
            exif_data = img._getexif()
            if exif_data is not None:
                date_creation = exif_data.get(306)  # Exemple : date de création de l'image
            else:
                date_creation = None
            donnees_images.append({
                'Nom fichier': nom_fichier,
                'Largeur': largeur,
                'Hauteur': hauteur,
                'Date création': date_creation,
                # Ajoutez d'autres métadonnées que vous souhaitez extraire
            })

# Créer la DataFrame pandas à partir des métadonnées des images
df_mono = pd.DataFrame(donnees_images)
df_mono = df_mono.drop(columns=['Date création'])
df_mono = df_mono.assign(Nom_du_globule='Monocyte')
df_mono

        Nom fichier  Largeur  Hauteur Nom_du_globule
0     MO_648815.jpg      360      363       Monocyte
1     MO_405775.jpg      360      363       Monocyte
2      MO_36319.jpg      360      363       Monocyte
3     MO_519360.jpg      360      363       Monocyte
4     MO_810901.jpg      366      369       Monocyte
...             ...      ...      ...            ...
1415  MO_676706.jpg      360      363       Monocyte
1416  MO_503447.jpg      360      363       Monocyte
1417  MO_223296.jpg      360      363       Monocyte
1418    MO_7195.jpg      360      363       Monocyte
1419  MO_771055.jpg      366      369       Monocyte

[1420 rows x 4 columns]

In [43]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/neutrophil/'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Liste pour stocker les noms de fichiers des images non identifiables
images_non_identifiees = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        try:
            with Image.open(chemin_image) as img:
                largeur, hauteur = img.size
                exif_data = img._getexif()
                if exif_data is not None:
                    date_creation = exif_data.get(306)  # Exemple : date de création de l'image
                else:
                    date_creation = None
                donnees_images.append({
                    'Nom fichier': nom_fichier,
                    'Largeur': largeur,
                    'Hauteur': hauteur,
                    'Date création': date_creation,
                    # Ajoutez d'autres métadonnées que vous souhaitez extraire
                })
        except Exception as e:
            print(f"Impossible d'ouvrir l'image {nom_fichier}: {e}")
            images_non_identifiees.append(nom_fichier)

# Créer la DataFrame pandas à partir des métadonnées des images
df = pd.DataFrame(donnees_images)

# Afficher les noms de fichiers des images non identifiables
print("Images non identifiables:", images_non_identifiees)
df_neutro = pd.DataFrame(donnees_images)
df_neutro = df_neutro.drop(columns=['Date création'])
df_neutro = df_neutro.assign(Nom_du_globule='Neutrocyte')
df_neutro

Impossible d'ouvrir l'image .DS_169665.jpg: cannot identify image file '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/neutrophil/.DS_169665.jpg'
Images non identifiables: ['.DS_169665.jpg']

         Nom fichier  Largeur  Hauteur Nom_du_globule
0     BNE_358773.jpg      360      363     Neutrocyte
1     SNE_183410.jpg      360      363     Neutrocyte
2     BNE_295701.jpg      360      363     Neutrocyte
3      SNE_30327.jpg      360      363     Neutrocyte
4     SNE_342586.jpg      360      363     Neutrocyte
...              ...      ...      ...            ...
3324   BNE_29265.jpg      360      363     Neutrocyte
3325  SNE_149300.jpg      360      363     Neutrocyte
3326  SNE_469555.jpg      360      363     Neutrocyte
3327  BNE_377951.jpg      360      363     Neutrocyte
3328  SNE_189642.jpg      360      363     Neutrocyte

[3329 rows x 4 columns]

In [44]:
from PIL import Image
import os
import pandas as pd

# Chemin vers le répertoire contenant vos images JPEG
chemin_repertoire_images = '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/neutrophil/'

# Liste pour stocker les métadonnées des images
donnees_images = []

# Liste pour stocker les noms de fichiers des images non identifiables
images_non_identifiees = []

# Parcourir les fichiers du répertoire
for nom_fichier in os.listdir(chemin_repertoire_images):
    chemin_image = os.path.join(chemin_repertoire_images, nom_fichier)
    if nom_fichier.endswith('.jpg') or nom_fichier.endswith('.jpeg'):
        try:
            with Image.open(chemin_image) as img:
                largeur, hauteur = img.size
                exif_data = img._getexif()
                if exif_data is not None:
                    date_creation = exif_data.get(306)  # Exemple : date de création de l'image
                else:
                    date_creation = None
                donnees_images.append({
                    'Nom fichier': nom_fichier,
                    'Largeur': largeur,
                    'Hauteur': hauteur,
                    'Date création': date_creation,
                    # Ajoutez d'autres métadonnées que vous souhaitez extraire
                })
        except Exception as e:
            print(f"Impossible d'ouvrir l'image {nom_fichier}: {e}")
            images_non_identifiees.append(nom_fichier)

# Créer la DataFrame pandas à partir des métadonnées des images
df = pd.DataFrame(donnees_images)

# Afficher les noms de fichiers des images non identifiables
print("Images non identifiables:", images_non_identifiees)
df_plat = pd.DataFrame(donnees_images)
df_plat = df_plat.drop(columns=['Date création'])
df_plat = df_plat.assign(Nom_du_globule='Platelet')
df_plat

Impossible d'ouvrir l'image .DS_169665.jpg: cannot identify image file '/Users/simonboudara/data_UE22/PBC_dataset_normal_DIB/neutrophil/.DS_169665.jpg'
Images non identifiables: ['.DS_169665.jpg']

         Nom fichier  Largeur  Hauteur Nom_du_globule
0     BNE_358773.jpg      360      363       Platelet
1     SNE_183410.jpg      360      363       Platelet
2     BNE_295701.jpg      360      363       Platelet
3      SNE_30327.jpg      360      363       Platelet
4     SNE_342586.jpg      360      363       Platelet
...              ...      ...      ...            ...
3324   BNE_29265.jpg      360      363       Platelet
3325  SNE_149300.jpg      360      363       Platelet
3326  SNE_469555.jpg      360      363       Platelet
3327  BNE_377951.jpg      360      363       Platelet
3328  SNE_189642.jpg      360      363       Platelet

[3329 rows x 4 columns]

In [45]:
import pandas as pd

# Créer une liste contenant vos DataFrames
liste_df = [df_ba,df_eos,df_ery,df_ig,df_lymph,df_mono, df_neutro, df_plat]

# Concaténer les DataFrames dans la liste
df= pd.concat(liste_df)
df = df.drop(columns=['Date création'])
df

         Nom fichier  Largeur  Hauteur Nom_du_globule
0      BA_689200.jpg      360      363       Basophyl
1      BA_883452.jpg      360      363       Basophyl
2      BA_382161.jpg      366      369       Basophyl
3      BA_175579.jpg      360      363       Basophyl
4      BA_775722.jpg      360      363       Basophyl
...              ...      ...      ...            ...
3324   BNE_29265.jpg      360      363       Platelet
3325  SNE_149300.jpg      360      363       Platelet
3326  SNE_469555.jpg      360      363       Platelet
3327  BNE_377951.jpg      360      363       Platelet
3328  SNE_189642.jpg      360      363       Platelet

[19639 rows x 4 columns]

In [47]:
df['Trois premières lettres'] = df['Nom fichier'].str.slice(stop=3)

# Compter le nombre d'occurrences de chaque combinaison de trois premières lettres
nombre_occurrences = df['Trois premières lettres'].value_counts()

# Afficher le nombre d'occurrences
print(nombre_occurrences)

Trois premières lettres
EO_    6234
SNE    3292
BNE    3266
MO_    1420
BA_    1218
LY_    1214
MY_    1137
MMY    1015
PMY     592
IG_     151
NEU     100
Name: count, dtype: int64

In [48]:
nombre_images_par_taille = df.groupby(['Hauteur', 'Largeur']).size()
print(nombre_images_par_taille)

Hauteur  Largeur
360      359            1
         360          147
         361            1
361      360            2
363      360        19138
369      366          350
dtype: int64

In [50]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 19639 entries, 0 to 3328
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Nom fichier              19639 non-null  object
 1   Largeur                  19639 non-null  int64
 2   Hauteur                  19639 non-null  int64
 3   Nom_du_globule           19639 non-null  object
 4   Trois premières lettres  19639 non-null  object
dtypes: int64(2), object(3)
memory usage: 920.6+ KB
None

In [51]:
df= df.query('Hauteur == 363 and Largeur == 360')
nombre_images_par_taille = df.groupby(['Hauteur', 'Largeur']).size()
print(nombre_images_par_taille)

Hauteur  Largeur
363      360        19138
dtype: int64

In [54]:
import pandas as pd
from PIL import Image
import numpy as np
from scipy import ndimage

# Fonction pour compter les gros contours
def compter_gros_contours(image_path, seuil=130, proportion=0.5, aire_min=100):
    try:
        # Ouvrir l'image et convertir en niveaux de gris
        image = Image.open(image_path).convert('L')
        
        # Convertir l'image en tableau numpy
        image_np = np.array(image)
        
        # Découper la partie centrale de l'image
        h, w = image_np.shape
        centre_h = int(h * proportion)
        centre_w = int(w * proportion)
        debut_h = (h - centre_h) // 2
        debut_w = (w - centre_w) // 2
        image_centre = image_np[debut_h:debut_h + centre_h, debut_w:debut_w + centre_w]
        
        # Appliquer le seuillage
        image_seuillee = (image_centre > seuil).astype(np.uint8) * 255
        
        # Trouver les contours en utilisant les différences de gradients
        sx = ndimage.sobel(image_seuillee, axis=0, mode='constant')
        sy = ndimage.sobel(image_seuillee, axis=1, mode='constant')
        sobel = np.hypot(sx, sy)
        
        # Binariser le résultat du filtre Sobel
        contours = (sobel > 0).astype(np.uint8)
        
        # Étiqueter les objets (contours)
        labeled_array, num_features = ndimage.label(contours)
        
        # Filtrer les contours par leur aire
        areas = ndimage.sum(contours, labeled_array, range(1, num_features + 1))
        gros_contours = areas > aire_min
        nombre_gros_contours = np.sum(gros_contours)
        
        return nombre_gros_contours
    except Exception as e:
        print(f"Une erreur s'est produite pour l'image {image_path} : {e}")
        return None

# Créer une liste contenant vos DataFrames
liste_df = [df_ba, df_eos, df_ery, df_ig, df_lymph, df_mono, df_neutro, df_plat]

# Concaténer les DataFrames dans la liste
df = pd.concat(liste_df)
df = df.drop(columns=['Date création'])

# Ajouter une nouvelle colonne avec le nombre de gros contours
df['Gros contours'] = df['Nom fichier'].apply(lambda nom_fichier: compter_gros_contours(f"/path/to/your/images/directory/{nom_fichier}"))

# Afficher la DataFrame
print(df)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [ ]:
import pandas as pd
from PIL import Image
import numpy as np
from scipy import ndimage

# Fonction pour compter les gros contours
def compter_gros_contours(image_path, seuil=130, proportion=0.5, aire_min=100):
    try:
        # Ouvrir l'image et convertir en niveaux de gris
        image = Image.open(image_path).convert('L')
        
        # Convertir l'image en tableau numpy
        image_np = np.array(image)
        
        # Découper la partie centrale de l'image
        h, w = image_np.shape
        centre_h = int(h * proportion)
        centre_w = int(w * proportion)
        debut_h = (h - centre_h) // 2
        debut_w = (w - centre_w) // 2
        image_centre = image_np[debut_h:debut_h + centre_h, debut_w:debut_w + centre_w]
        
        # Appliquer le seuillage
        image_seuillee = (image_centre > seuil).astype(np.uint8) * 255

In [ ]:
        # Trouver les contours en utilisant les différences de gradients
        sx = ndimage.sobel(image_seuillee, axis=0, mode='constant')
        sy = ndimage.sobel(image_seuillee, axis=1, mode='constant')
        sobel = np.hypot(sx, sy)
      
        # Binariser le résultat du filtre Sobel
        contours = (sobel > 0).astype(np.uint8)
        
        # Étiqueter les objets (contours)
        labeled_array, num_features = ndimage.label(contours)
        
        # Filtrer les contours par leur aire
        areas = ndimage.sum(contours, labeled_array, range(1, num_features + 1))
        gros_contours = areas > aire_min
        nombre_gros_contours = np.sum(gros_contours)
        
        return nombre_gros_contours
    except Exception as e:
        print(f"Une erreur s'est produite pour l'image {image_path} : {e}")
        return None

# Créer une liste contenant vos DataFrames
liste_df = [df_ba, df_eos, df_ery, df_ig, df_lymph, df_mono, df_neutro, df_plat]

# Concaténer les DataFrames dans la liste
df = pd.concat(liste_df)
df = df.drop(columns=['Date création'])

# Ajouter une nouvelle colonne avec le nombre de gros contours
df['Gros contours'] = df['Nom fichier'].apply(lambda nom_fichier: compter_gros_contours(f"/path/to/your/images/directory/{nom_fichier}"))

# Afficher la DataFrame
print(df)